.NavBar{
    height: 100%;
    width: 100%;
 background-color: #262626;
 border-right: 1px solid #262626;
 box-shadow: 4px 10px 20px rgb(9, 9, 9);

  z-index: 999999;
}
.paddingNav{
    width: 70%;
    height: 100%;
    margin:  0 auto; 
}
.divsmallwithd{
  height: 70%;
    width: 100%;
    align-items: center;
    margin-top: 50px;
}
.linksList{
width: 100%;

}
.linfDiv{
border-bottom: 1px antiquewhite solid;
    margin-bottom: 40px;
       width: 70%;
    align-items: center;
    color: antiquewhite;
    transition: all .5s ;
   
}
.Link{
 font-size: 1.6rem;
 font-weight: 800;
 
 text-transform: uppercase;
text-decoration: none;
color: antiquewhite;

}

.linfDiv:hover{
    align-items: center;
    justify-content: center;

}

.icon{
    margin-right: 20px;
}