.contactform{
  
  
}

.contactformdiv{
width: 60%;
margin-bottom: 150px;
}
.formcontacttt{
    min-height: 50vh;
    justify-content: space-around;
    
}

.gridFor{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 25px;
    width: 100%;
    
}

.cube{
   
    padding: 10px 20px;
    color: antiquewhite;
}
.iconcontact
{
    font-size: 2rem;
    margin-bottom: 25px;

}
.headerText{
    text-transform: capitalize;
    font-size: 1.7rem;
    margin-bottom: 15px;
    font-weight: 700;
}
.pareText{
font-size: 1.3rem;
}



.input{
  border: 1px solid black;
  border-radius: 20px;
  height: 50px;
  width: 46%;
  margin-bottom: 30px;


}
.inputsubject{
    border: 1px solid black;
    border-radius: 20px;
    height: 50px;
    width: 100%;
    margin-bottom: 30px;
}

.textArea{
    width: 100%;
    border-radius: 20px;
    margin-bottom: 10px;
}